<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CSE 340 Syllabus | Web Backend Development I</title>
  <meta name="description" content="CSE 340 Syllabus, last updated 4-6-18">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <img src="/340br/340banner.jpg" alt="CSE 340 Banner Image">
    </header>
    <main>

      <h1>Understanding and Installing Git</h1>

      <p> In this course, we will be using Git to track our changes and for submitting our work for grading. </p>

      <p> This tutorial will help you understand what Git is and how to install it. </p>

      <p> Note for Americans: Git is a harsh slang word in British English, comparable to a**hole. Just keep that in mind if you are conversing with classmates or anyone in the profession who speaks British English. :) </p>

      <h2 id="what-is-git-and-why-github">What is Git</h2>
      <p>Git is a really smart content management tool, that also works well for version control. What is version control? Git a way to keep track of the changes in your code. Git like an undo for your whole project directory, not just your Word documents. </p>

      <p>There are a lot of tutorials and articles about Git out there, and they all start with a good explanation of what Git is and the commands to use, but they do not usually explain why or how Git works. At the most fundamental level, Git is a way to take snapshots of your project folders at a specific point in time. It is like you copy all of the contents of your project folder and paste them in a special snapshot folder. Each time you take a snapshot, you add a new folder in the snapshot folder. Git is the software tool that takes care of making the snapshots, and gives you the ability to name certain snapshots, retrieve old snapshots, and easily collaborate with others and merge their code with yours.</p>

      <p>In Git language, making a snapshot is called a <code>commit</code>.</p>
      <p>There is a middle step between making changes to your code and making a snapshot or commit. This middle step is called <code>staging</code>. You can think of it as staging or preparing your files for the snapshot. This middle step lets you commit some files that have changed, without committing others.</p>
      <p>For this course, we will only be using the very basics of Git; staging, committing, and pushing (which you will learn about later).</p>

      <p>The workflow for using Git is actually pretty simple:
      <ol>
        <li>Make changes to your code (edit, add or delete files and folders)</li>
        <li>Stage the files and folders you want to commit</li>
        <li>Commit the changes</li>
      </ol>
      </p>

      <p>Here are some good articles for understanding Git theory.
      <ul>
        <li><a target="_blank" href="https://matthew-brett.github.io/curious-git/index.html"> https://matthew-brett.github.io/curious-git/index.html</a></li>
        <li><a target="_blank" href="http://rogerdudler.github.io/git-guide/">http://rogerdudler.github.io/git-guide/</a></li>
        <li><a target="_blank" href="http://practical-neuroimaging.github.io/git_parable.html">http://practical-neuroimaging.github.io/git_parable.html</a></li>
        <li><a target="_blank" href="http://matthew-brett.github.io/pydagogue/foundation.html">http://matthew-brett.github.io/pydagogue/foundation.html</a></li>
      </ul>
      </p>

      <p>And here are some helpful sites to practice using Git.
      <ul>
        <li><a target="_blank" href="https://onlywei.github.io/explain-git-with-d3/">https://onlywei.github.io/explain-git-with-d3/</a></li>
        <li><a target="_blank" href="http://pel-daniel.github.io/git-init/index.html">http://pel-daniel.github.io/git-init/index.html</a></li>
        <li><a target="_blank" href="https://learngitbranching.js.org/">https://learngitbranching.js.org/</a></li>
      </ul>
      </p>


      <h2>Install Git</h2>
      <p>Install Git from <a target="_blank" href="https://git-scm.com/download"">https://git-scm.com/download</a></p>
      <p>The installation is pretty straightforward, just accept all the default settings.</p>

      <h3>For Windows</h3>
      <p>Here is a video tutorial for installing Git on Windows<br>
        <iframe width=" 560" height="315" src="https://www.youtube.com/embed/6cB0tB-nrB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>

      <h3>For MacOS</h3>
      <p>And here is a video tutorial for installing Git on MacOS. I recommend the first option using Homebrew.<br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZM3I16Z-lxI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>


    </main>

    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> This page created by Ammon Shepherd and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.
    </footer>
  </div>

</body>

</html>