<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CSE 340 GitHub and VS Code | Web Backend Development I</title>
  <meta name="description" content="CSE 340 Syllabus, last updated 4-6-18">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <img src="/340br/340banner.jpg" alt="CSE 340 Banner Image">
    </header>
    <main>
      <h1 id="github-and-vs-code">GitHub and VS Code</h1>
      <p>This tutorial will guide you through connecting VS Code to your GitHub account.</p>

      <p>GitHub is an online service that hosts your Git repositories. It can also provide a social aspect to your code. It is used by pretty much all major software companies. GitHub is not the only service out there, but it is the most well known. If you go further in the field of software or web development, you will most definitely interact with GitHub at some point.</p>

      <p>Using GitHub adds one more step to the normal Git workflow:
      <ol>
        <li>Make changes to your code (edit, add or delete files and folders)</li>
        <li>Stage the files and folders you want to commit</li>
        <li>Commit the changes</li>
        <li>Push the commit to GitHub</li>
      </ol>
      </p>


      <h2 id="create-an-account">Create an account</h2>
      <p>The first step in using Git for this course is to create an account at GitHub.com.</p>
      <img src="/340br/images/github-vscode/github-signup.png" alt="GitHub sign up page" />
      <ul>
        <li>Visit <a target="_blank" href="https://github.com">https://github.com</a> in a browser.</li>
        <li>Click the Sign up button.</li>
        <li>Fill in the required fields for a unique username, email and password. You can uncheck the spam box – er, I mean Email preferences checkbox.</li>
        <li>Complete the "puzzle" by clicking the <u>Verify</u> button, then selecting the right images.</li>
        <li>Finally, click the big blue <u>Create account</u> button.</li>
      </ul>


      <h2 id="create-a-repo">Create a repo</h2>
      <p>The next step is to create a new repository. A repository is the folder that holds the code. In our case, this is where we will put the code for building the website during this course.</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hu9nU6cRBjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>[The video shows the steps detailed below.]</p>

      <img src="/340br/images/github-vscode/repository.png" alt="Repository link" />
      <p>On the GitHub website, after you have logged in,</p>
      <ul>
        <li>Click on your profile icon on the top right of the page.</li>
        <li>Click the <u>Your repositories</u> link, then click the green <u>New</u> button.
          <ul>
            <li>Alternatively, if you are on the profile page already, click the <u>Repositories</u> tab, then click the green <u>New</u> button.</li>
          </ul>
        </li>
        <img src="/340br/images/github-vscode/new-repo-button.png" alt="New repo button" />
        <li>On the New repository page, name the repository <code>phpmotors</code>.</li>
        <li>Fill in a description if you like.</li>
        <li>Check the "Private" option. Leave the remaining checkboxes empty.</li>
        <li>Click the green <u>Create repository</u> button.</li>
      </ul>
      <img src="/340br/images/github-vscode/create-new-repo.png" alt="Create new repo page" />

      <p>You are now taken to the repository page for the repository you just created. Do not browse away from this page yet, as we will need a URL from this page later.</p>
      <img src="/340br/images/github-vscode/new-repo-page.png" alt="New repo page" />


      <h2 id="github-and-vs-code-1">GitHub and VS Code</h2>
      <p>Open VS Code. You should have done some initial setting up of VS Code already. The ability to use Git is built into VS Code. There is no plug-in or extension needed to use VS Code with Git or with GitHub.</p>

      <h3>Delete the Docker Git repo folder</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6ffy30KJbSI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>[The video shows the steps detailed below.]</p>

      <p>Fist, delete the Git repository associated with Docker that we set up in the previous tutorial. To do this, we need to change a setting to allow hidden files to be visible in the Explorer sidebar.</p>
      <p>Open the settings file for VS Code by using the following VS Code menu command:
      <ul>
        <li>On Windows/Linux - File > Preferences > Settings</li>
        <li>On macOS - Code > Preferences > Settings</li>
      </ul>
      </p>
      <p>In the search field, type in "files exclude". Select the first option in the results, "Commonly Used".</p>
      <p>You will see a section for "Files: Exclude" and a list of patterns for files and folders that should not be shown in the Explorer sidebar.</p>
      <p><img src="/340br/images/github-vscode/hidden-files.png" alt="hidden files" /></p>

      <p>Now, select the edit icon for the entry <code>**/.git</code>, which is the pencil.</p>
      <p><img src="/340br/images/github-vscode/edit-git.png" alt="edit git" /></p>

      <p>Add a hash (officially called an octothorpe) to the front of the line to comment out the entry. Then click the <u>OK</u> button.</p>
      <p><img src="/340br/images/github-vscode/add-comment.png" alt="add comment" /></p>

      <p>You can now see the hidden <code>.git</code> folder.</p>
      <p><img src="/340br/images/github-vscode/hidden-git-folder.png" alt="hidden Git folder" /></p>

      <p>Proceed to delete the folder.</p>
      <p><img src="/340br/images/github-vscode/delete-git-folder.png" alt="delete Git folder" /></p>

      <p>Go back and edit the entry for <code>**/.git</code> to remove the octothorpe and save the change.</p>

      <p>Close the Settings page by clickin the X on the Settings tab. Your VS Code should now look like this.</p>
      <p><img src="/340br/images/github-vscode/project-working-directory.png" alt="Project working directory" /></p>



      <h3>Set up remote Git repo</h3>
      <p>VS Code is set to edit from the <code>cse340</code> folder, but it needs to edit from a new folder within the <code>www</code> folder.</p>
      <p>We will create this folder, have VS Code set to edit from this folder, and connect GitHub to this folder all at the same time.</p>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/yzUen29sb9Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>[The video shows the steps detailed below.]</p>

      <p>The first step is to open a new VS Code window with <u>File->New Window</u>. You can close the other VS Code window. It will not be needed anymore.</p>
      <p>Notice the Git icon on the left sidebar. Click on that.</p>
      <p><img src="/340br/images/github-vscode/new-vscode-window.png" alt="New VS Code window" /></p>

      <p>You should see two pink colored buttons; one for <u>Open Folder</u> and one for <u>Clone Repository.</u> Click on the <u>Clone Repository</u> button. This opens the VS Code Command Prompt. </p>
      <p><img src="/340br/images/github-vscode/git-open-repo.png" alt="Clone Repository button" /></p>

      <p>Click on the dropdown option <u>Clone from GitHub</u>.</p>
      <p><img src="/340br/images/github-vscode/clone-from-github.png" alt="Clone from GitHub button" /></p>

      <p>A pop-up will ask if you want to allow the extension to sign in to GitHub. Click the <u>Allow</u> button. </p>
      <p><img src="/340br/images/github-vscode/allow-github.png" alt="Clone Repository button" /></p>

      <p>Your browser will then open with a page asking you to continue authorization of VS Code to access GitHub. Click the big green <u>Continue</u> button.</p>
      <p><img src="/340br/images/github-vscode/authorize-vscode.png" alt="Click the big green button" /></p>

      <p>You'll see a success message with an alert box. Click the <u>Open Link</u> button.</p>
      <p><img src="/340br/images/github-vscode/open-link.png" alt="Open the link" /></p>

      <p>This sends you back to VS Code with a prompt to allow the extension to open the URI (the address). Click <u>Open</u>.</p>
      <p><img src="/340br/images/github-vscode/vscode-open.png" alt="VS Code Open" /></p>

      <p>After a second, you will see a drop down with all the repos in your GitHub account available.</p>
      <p>If the repos are not showing as options, then make sure you have authorized VS Code to access GitHub as done above.</p>

      <p>Pick the repo you just created.</p>
      <p><img src="/340br/images/github-vscode/pick-repo.png" alt="Pick your repo" /></p>

      <p>If the repo does not show up, you can type in your GitHub account name followed by the repo name: <code>username/phpmotors</code> Click on that option.</p>
      <p><img src="/340br/images/github-vscode/type-repo.png" alt="Type your GitHub username followed by repo name" /></p>

      <p>Next, VS Code will ask you to select a location on your computer to put the files. Browse to your project folder, for example <code>Documents/cse340/www/</code>.</p>

      <p>Now select the <code>www</code> folder and click the Select Repository Location button.</p>
      <p><img src="/340br/images/github-vscode/select-location.png" alt="Select a location to put your files" /></p>

      <p>Next click the <u>Open</u> or <u>Open in New Window</u> button on the VS Code notification pop-up. If the notification disappeared before you could click on it, you can click the little bell icon to get the notification to reappear.</p>
      <p><img src="/340br/images/github-vscode/open-in-vscode.png" alt="Open or Open in New Window" /></p>

      <p> Or you can click on the <u>Open Folder</u> button and browse to the <code>Documents/cse340/www/phpmotors/</code> folder and select the <code>phpmotors</code> folder. This is the process for opening this folder from this point on if the VS Code application is closed.</p>
      <p><img src="/340br/images/github-vscode/open-phpmotors-folder.png" alt="Open Folder, browse to phpmotors folder" /></p>

      <p>Now VS Code is connected to the GitHub repo and we can start adding files in VS Code.</p>


      <h2 id="git-workflow">Git Workflow</h2>
      <p>Now is a good time to remind you of the workflow you will be using as you work through the assignments in this class.</p>

      <p>Normally, when working with a version control software, you want to work on small discrete chunks of code. After each feature or chunk is complete, you submit that to the version control software as a commit.</p>

      <p>For this course, you will break this pattern just a bit. Each week you have a Activity and an Assignment. You will submit one commit for all of the work you do in the Activities section, and a separate, second commit for the Enhancement you complete in the Assignment section. See the Overview page for each week to find the Activities and Assignment sections.</p>

      <p>So the process is, work on the Activity portion by making new files and folders, or editing the code in existing files by following the instructions in the Activity section. Stage the work in Git. Then make a commit of the work to your local Git repository.</p>

      <p>Next, work on the Assignment portion by making new files or editing the code of existing files following the Enhancement instructions. Then stage the work, and then commit the work to your local Git repository.</p>

      <p>Finally, when the activities and enhancement is done, you will push the commits from the local repository on your computer to the copy of the repository on GitHub.</p>

      <p>Simply stated, the weekly workflow is:
      <ol>
        <li>Work on the Activity</li>
        <li>Stage and then commit the changes</li>
        <li>Work on the Assignment/Enhancement</li>
        <li>Stage and then commit the changes</li>
        <li>Push the changes to your GitHub repo</li>
      </ol>

      </p>

      <p>We'll walk through that process by adding a helpful file, called a README file that is used to explain what the repo is all about.</p>


      <h2 id="the-readme-file">The README file</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/s5Ovc8JYlDM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>[The video shows the steps detailed below.]</p>

      <p>Back in VS Code, make a new file by clicking on the new file icon, or go to the File menu and click <u>New File</u>. Name the file <code>README.md</code> The <code>.md</code> is the file extension for Markdown files. GitHub will know what to do with it.</p>
      <p><img src="/340br/images/github-vscode/readme-file.png" alt="New file button" /></p>

      <p>We'll use Markdown in this file, which is like a distant cousin to HTML. It makes text readable as plain text, but still has some syntax that allows computers to alter the display of the text, just like HTML.</p>

      <p>To learn more about the Markdown language, see here: <a target="_blank" href="https://guides.github.com/features/mastering-markdown/">https://guides.github.com/features/mastering-markdown/</a></p>

      <p>In this new file type in:</p>
      <pre><code>  # CSE 340 – Winter 2021
  - Name: Your Name Here
  - email: yourname@email.com

  # PHPMotors
  - Learning how to build a website with PHP and MySQL.</code></pre>

      <p>Save the file.</p>

      <p>Now once you save the file, you should notice some things with Git icon on the left side menu. The Git icon now has a number, signifying that it now recognizes that one file has been changed.</p>
      <p><img src="/340br/images/github-vscode/git-icon-change.png" alt="Git icon has changed" /></p>

      <p>If you click on the Git icon, a sidebar opens to display Git info. In this panel, you can stage the changes for a commit, add a message, commit the changes, and even push them to the GitHub repo.</p>
      <p> <img src="/340br/images/github-vscode/git-icons.png" alt="Icons for revert, stage and commit" /> </p>

      <p>Before we can make a Git commit, Git needs a name and email to associate with the commit. To do this, open the Terminal in VS Code (Terminal->New Terminal or View->Appearance->Show Panel).</p>
      <p>Type in the following command (but use your name) and hit Enter on the keyboard</p>
      <p><code>git config --global user.name "FIRSTNAME LASTNAME"</code></p>

      <p>Type in the following command (but use your email address) and hit Enter on the keyboard</p>
      <p><code>git config --global user.email "youremail@email.com"</code></p>
      <p> <img src="/340br/images/github-vscode/git-globals.png" alt="Add name and email to Git" /> </p>


      <p>Stage the changes for a commit by pressing the plus icon.</p>

      <p>To commit the changes, first type in a short message, then click the check mark or use the short-cut keys (command-Enter on Mac, Ctrl-Enter on Windows).</p>
      <p>Once you have committed the changes, you can push the changes to the GitHub repo. Click on the three-dots icon and select <u>Push</u>.</p>
      <p> <img src="/340br/images/github-vscode/git-push.png" alt="" /> </p>
      <p>You may be asked if you wish to periodically fetch new changes from GitHub. You don't want this, so select "No".</p>

      <p>If you go to the GitHub website in your browser and refresh the page, you should see the README.md file is now listed as a file, and the contents are displayed below.</p>
      <p><img src="/340br/images/github-vscode/github-repo-updated.png" alt="GitHub repo page updated" /></p>
      <p>Note: If you discard the changes (the bent arrow icon), then all the changes you made to the file will be lost and the file will change back to how it was before you 'staged' it for the commit.</p>

      <p>This folder (the <code>phpmotors</code> folder inside the <code>www</code> folder) is where you will put your code as you work on the weekly Activities and Assignments. You will follow this process each week of adding and editing files, staging, committing, and pushing.</p>

      <p>
      <ol>
        <li>Work on the Activity</li>
        <li>Stage and then commit the changes</li>
        <li>Work on the Assignment</li>
        <li>Stage and then commit the changes</li>
        <li>Push the commits to your GitHub repo</li>
      </ol>
      </p>


      <h2>Add Collaborator</h2>
      <p>In order for your instructor or the TAs to see your code on GitHub, you will need to add them as a collaborator. You at least want to add me, your instructor, as a collaborator. :)</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/a9To390OEUo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>[The video shows the steps detailed below.]</p>

      <p>On the GitHub website, you should be on the repo page you just created.</p>

      <p>Click on the Settings tab.</p>
      <img src="/340br/images/github-vscode/settings-tab.png" alt="Settings tab" />

      <p>Next, click the "Manage Access" tab.</p>
      <p>Then, click the green <u>Invite a collaborator</u> button.</p>
      <img src="/340br/images/github-vscode/invite-button.png" alt="Manage access tab and Invite button" />

      <p>Type in your instructor's GitHub username: <code>ammonshepherd</code></p>
      <img src="/340br/images/github-vscode/add-collaborator.png" alt="Add collaborator" />

      <p>And finally, click the green <u>Add ammonshepherd to this repository</u> button.</p>


      <h2>All set</h2>
      <p>You are now all set up with a GitHub repository and your VS Code app is now connected to the repo.</p>
      <p>As a reminder, the workflow for the course will be:</p>
      <ol>
        <li>Work on the Activity</li>
        <li>Stage and then commit the changes</li>
        <li>Work on the Assignment/Enhancement</li>
        <li>Stage and then commit the changes</li>
        <li>Push the changes to your GitHub repo</li>
      </ol>

    </main>

    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> This page created by Ammon Shepherd and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.
    </footer>
  </div>

</body>

</html>