<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Creating a Proxy User | Web Backend Development I</title>
  <meta name="description"
        content="Creating a Proxy user in the local development environment using PHPMyAdmin for CSE 340">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340br/css/340course.css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
    <main>

      <h1>Creating a Proxy User</h1>
      <h2>What is a proxy user?</h2>
      <p>When visitors come to your dynamic web site they want to see your content. Being a dynamic web site, that content is stored in a database. A proxy user represents (is a proxy for) a site visitor and interacts with the database in their behalf.</p>

      <h2>Limited Capabilities</h2>
      <p>The proxy user is generally only given "data manipulation" privileges. This means the proxy can read (SELECT) data, add (INSERT) new data, change (UPDATE) data, sometimes upload files (FILES), and perhaps remove (DELETE) data from the database. However, the proxy is <strong>never</strong> given the ability to change the actual database in any way! </p>

      <h2>Creating a Proxy Database User</h2>
      <p class="strong">For Docker:</p>
      <p>The process of creating the MySQL server with Docker creates a proxy user for us. The username and password are in the docker-compose.yml file. As a reminder, that information is</p>
      <p>
        <code>
      <pre>
        MYSQL_USER: "dbuser"
        MYSQL_PASSWORD: "dbpass"
      </pre>
    </code>
      </p>
      <p>It is not necessary for you to create a new proxy user, but this is good practice. In order to create a new MySQL user, follow the steps in the video below.</p>
      <p>In order to create a user, you will need to log in to phpMyAdmin as the root user (unless you changed them in the docker-compose.yml file).</p>
      <p>
        <code>
      <pre>
        username: root
        password: rootPASS
      </pre>
    </code>
      </p>

      <p>As you follow the video instructions, <mark>use a percent sign <code>%</code> instead of <code>localhost</code> for the "Host Name"</mark>. This is wildcard variable, meaning any host is allowed.</p>

      <p class="strong">For XAMPP:</p>
      <p>Follow the steps in the video below.</p>

      <iframe src="https://www.youtube.com/embed/9UxdVpgibWM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <p>The video above has you select the Data privileges, which gives the user those privileges for all databases on this MySQL server. In a real production environment, you would restrict the user to only have permissions for the specific database(s) needed, rather than such global privileges.</p>


    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
             style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license"
         href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative
        Commons Attribution-ShareAlike 3.0 License</a>.
    </footer>
  </div>
</body>

</html>